<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TRUSTIFY API{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="font-roboto bg-black text-white">
    <header class="bg-blue-600 text-white">
        <div class="container mx-auto flex justify-between items-center p-4">
            <div class="text-2xl font-bold">TRUSTIFY API</div>
            <nav>
                <ul class="flex space-x-4">
                    <li><a class="hover:underline" href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a class="hover:underline" href="#features">Features</a></li>
                    <li><a class="hover:underline" href="{{ url_for('main.pricing') }}">Pricing</a></li>
                    <li><a class="hover:underline" href="#contact">Contact</a></li>
                    
                    {% if 'user_id' not in session and 'admin_id' not in session %}
                        <li><a class="hover:underline" href="{{ url_for('main.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-blue-600 text-white py-4">
        <div class="container mx-auto text-center">
            <p>© 2024 TRUSTIFY API. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
