{% extends "base.html" %}

{% block content %}
<section class="py-20">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Profile Button -->
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg text-center">
                <h1 class="text-3xl font-bold mb-6">Profile</h1>
                <a href="{{ url_for('main.profile') }}" class="w-full bg-blue-600 text-white py-4 px-8 rounded-lg hover:bg-blue-700 transition duration-300 block text-xl">Go to Profile</a>
            </div>

            <!-- Users Button -->
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg text-center">
                <h1 class="text-3xl font-bold mb-6">Users</h1>
                <a href="{{ url_for('main.users') }}" class="w-full bg-blue-600 text-white py-4 px-8 rounded-lg hover:bg-blue-700 transition duration-300 block text-xl">View Users</a>
            </div>
            
            
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg text-center">
                <h1 class="text-3xl font-bold mb-6">Adding an Admin</h1>
                <a href="{{ url_for('main.add_admin') }}" class="w-full bg-blue-600 text-white py-4 px-8 rounded-lg hover:bg-blue-700 transition duration-300 block text-xl">Add an Admin</a>
            </div>

            <!-- APIs Button -->
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg text-center">
                <h1 class="text-3xl font-bold mb-6">APIs</h1>
                <a href="{{ url_for('main.apis') }}" class="w-full bg-blue-600 text-white py-4 px-8 rounded-lg hover:bg-blue-700 transition duration-300 block text-xl">View APIs</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

