{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">Add an API</h1>
            <form method="POST" action="{{ url_for('main.add_api') }}">

               <!-- Name Field -->
       <label for="name">Name</label>
       <input type="text" id="name" name="name" required>

               <!-- Price Field -->
       <label for="price">Price</label>
       <input id="price" name="price" type="number" step="0.01" min="0.01" required>

               <!-- Add Button -->
       <button type="submit" class="cta-button">Add</button>
            </form>
        </div>
{% endblock %}
